In [2]:
run src/soccer.py

DatabaseError: Execution failed on sql 'SELECT * FROM Player_Attributes;': no such table: Player_Attributes